.footer {
    background-color: $background-color-hero;
    padding-top: 60px;
    padding-bottom: 60px;

    
&-elements{
    display: flex;
    vertical-align: middle;
    align-items: baseline;
    
    
}}
.subscription {
    display: block;
    margin-left: 93px;
    width: 570px;
}
.footer-form {
    display: flex;
    vertical-align: middle;
    gap: 12px;

&__input{
            display: flex;
            @include bordered (1px, rgba(255, 255, 255, 0.3));
            border-radius: 4px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            background-color: transparent;
            padding: 15px;
            width: 358px;
            height: 50px;
            
            color:$background-color-first;}
            
        
&__input::placeholder{
            color: rgba(255, 255, 255, 0.6);
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
        }
        
    }     
        
