
.button-hero {
    @extend %button;
    color: $background-color-first;
    background-color: $color-brand;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: block;
    padding: 10px 32px;
    margin: auto;
    transition-property: background-color,  box-shadow;


    &:hover,
    &:focus {
        background-color: $color-accent;
    }

}


.button-subscribe{
    display: block;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    border-style: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: $background-color-first;
    background-color: $color-brand;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 28px;
    width: 200px;
    height: 50px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: auto;
    margin-left: auto;

    &__icon{
        @include icon (24px, 24px, $background-color-first);
        vertical-align: middle;
        margin-left: 10px;
    }

    &:hover,
    &:focus {
        background-color: $color-accent;
        }

    }





.button-modal-submit{
    @extend %button;
    
    color: $background-color-first;
    background-color: $color-brand;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 52px;
    margin-right: auto;
    margin-left: auto;
    transition-property: background-color;


    &:hover,
    &:focus{
        background-color: $color-accent;
    }

    }
    