
@media(min-width:768px){
    .contact{
        display: block;
        padding-top: 21px;
        padding-bottom: 21px;
    &__link {
        display: flex;
        align-items: center;
        color:$color-secondary;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        
        &:hover,
        &:focus {
        color: $color-brand;
    }}
    
    &__envelope{
        @include icon (14px, 10px, currentColor);
        margin-right: 8px;
        
        }
    
    &__smartphone{
        @include icon (10px, 14px, currentColor);
        margin-right: 8px;
            
    }}

.contact__list{
    margin-bottom: 10px;
}
.contact__list:last-child{
    margin-bottom: 0;
}

}



@media(min-width:1200px){
    .contact {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        padding: 0;
        

&__link {
    display: flex;
    margin: 0;
    color:$color-secondary;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    color: $color-brand;
}

    
}

&__envelope{
    @include icon (16px, 12px, currentColor);
    margin-right: 10px;
    
    }

&__smartphone{
    @include icon (10px, 16px, currentColor);
    margin-right: 10px;
        
}

}
.contact__list{
    margin: 0;

}
}