.contact-footer {
    display: block;
    width: 231px;
    margin-right: 70px;
    margin-top: 20px;


&__link {
    color: $color-secondary;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    @extend %transition;


    &:hover,
    &:focus {
        color: $color-brand;
    }
}


&__list {
    padding-bottom: 9px;


&:last-child {
    padding-bottom: 0;
}}
}

.address {
    color: $background-color-first;
}


