/*Header*/
.contact__link{
    color:$color-secondary;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition-property: color;
    @extend %transition;
    
    &:hover,
    &:focus {
    color: $color-brand;

}}

.contant__link--mail{
    font-size: 24px;
    line-height: 1.17;
}

.contant__link--phone{
    font-size: 34px;
    line-height: 1.17;
}
.contact__list{
    margin-bottom: 32px;

    &:last-child{
        margin-bottom: 0;
    }
}






@media screen and (min-widht:768px) {
    

.contact {
    display: flex;
    margin-left: auto;
    gap: 50px;
    

&__link {
   
    color:$color-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    

    transition-property: color;
    @extend %transition;
    
    &:hover,
    &:focus {
    color: $color-brand;
}

    
}}

@media screen and (min-widht:768px){ 


.contact__envelope{
    @include icon (16px, 12px, currentColor);
    margin-right: 10px;

    }

    .contact__smartphone{
    @include icon (10px, 16px, currentColor);
    margin-right: 10px;

}}}
@media (max-width: 767px) {
    .contact__envelope{
          display: none;
        }
        .contact__smartphone{
            display: none;
        }
    
    }



