
  
  .mobile-menu{

    &__nav{
        margin-bottom: 306px;
    }
    &__link{
        color: $color-primary;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: $color-brand;}
    }
    &__list{
        margin-bottom: 32px;
    
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    &__link--current{
    color: $color-brand;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    }
    }

    
    .mobile-menu{

        &__contact-link{
            color:$color-secondary;
            font-weight: 500;
            letter-spacing: 0.02em;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            
            &:hover,
            &:focus {
            color: $color-brand;
        
        }}
        
        &__link--mail{
            font-size: 24px;
            line-height: 1.17;
        }
        
        &__link--phone{
            font-size: 34px;
            line-height: 1.17;
        }
        &__contact-list{
            margin-bottom: 32px;
        
            &:last-child{
                margin-bottom: 0;
            }
        }}

        .mobile-menu__contact{
            margin-bottom: 64px;
        }

.menu-network{
    display: flex;

    
    

    
}

.menu-network__link{
    color: $color-brand;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        color: $color-brand;
        
    }

    }
    .menu-network__list{
        border-right:1px solid rgba(33, 33, 33, 0.2);
        height: 22px;
        padding-right: 10px;
        padding-left: 10px;

        &:last-child{
            border: none;
            
        }
        &:first-child{
            padding-left: 0;
        }
    }

