.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;

    @media (max-width: 767px){
     padding: 94px 40px;}






&--is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
}

.modal{
@media (max-width: 767px){
width: 450px;
height: 609px;}
@media (min-width: 360px){
     position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    }


    background-color: $background-color-first;
    
    padding: 40px;
        
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    }

.backdrop--is-hidden .modal{
        transform: translate(-50%, -50%) scale(0.5);
        visibility: hidden;
        pointer-events: none;
        opacity: 0;

    }


    .modal__icon-close {
            position: absolute;
    
            width: 18px;
            height: 18px;
            fill: $color-logo-second;
            top: 50%;
            left: 50%;
    
            transform: translate(-50%, -50%);
    
            &:hover,
            &:focus {
                fill: $color-brand;
            }
    
    
        }
        .modal__close-button {
    position: absolute;

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    @include bordered (1px, rgba(0, 0, 0, 0.1));
    background-color: transparent;
    padding: 12px;
    align-items: center;
    cursor: pointer;

}



 


.modal-form {
    margin-bottom: 20px;
}


.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &__label {
        color: $color-secondary;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        margin-bottom: 4px;
    }

    &__textarea {
        margin-bottom: 0;
    }
}


.input {
    position: relative;

    &__field {
        width: 100%;
        @include bordered (1px,rgba(33, 33, 33, 0.2));
        border-radius: 4px;
        height: 40px;
        display: inline-block;

        transition-property: border, fill;
        transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        font: inherit;
        padding-left: 42px;
        outline: none;


        &:hover,
        &:focus {
            border-color: $color-brand;
        }
    }

    &__icon {
        @include icon (18px, 18px, currentColor);
        position: absolute;
        display: inline-block;
        top: 11px;
        left: 12px;
    }

    &__textarea {
        height: 120px;
        padding-left: 16px;
        padding-top: 12px;
        resize: none;
    }

    &__textarea::placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    }

    &__field:hover~&__icon,
    &__field:focus~&__icon {
        color: $color-brand;

    }


}


.checkbox {
    
    text-align: center;
    margin-bottom: 30px;

    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }



    &__policy::before {
        background-color: transparent;
        content: '';
        width: 16px;
        height: 15px;
        @include bordered (2px, $color-primary);
        border-radius: 4px;
        display: inline-block;
        margin-right: 7px;
        vertical-align: middle;
}



    &__input:checked+&__policy::before {
        background-color: $color-brand;
        border-color: $color-brand;
        background-image: url(../images/icon-check.svg);
        fill: $background-color-first;
        background-size: contain;
        background-origin: content-box;
        background-repeat: no-repeat;
        vertical-align: middle;

        transition-property: background-origin;
        transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__input:hover+&__policy::before,
&__input:focus+&__policy::before{
    border-color: $color-brand;
}





    &__policy {
        display: inline-block;
        color: $color-secondary;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;



    }

    &__link {
        color: $color-brand;
        text-decoration: underline;

    }
}
