.header {
    border-bottom: 1px solid #ECECEC;
    
}

@media (min-width: 768px) {
.menu-container{
      display: none;
    }}
@media (min-width: 768px) {
.menu-toggle {
    display: none;
        }}


.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px 48px;
    background-color: $background-color-first;
    z-index: 999;}

    .menu-container.is-open{
        display: block;
    }

    .menu-container .menu-toggle {
        position: absolute;
        top: 10px;
        right: 15px;
        color: #fff;
      }
      

      .menu-toggle {
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        outline: none;
      }


      .menu-network{
        display: flex;
        gap: 15px;
      }

      .menu-network__link{
        color:$color-secondary;
    font-weight: 500;
    letter-spacing: 0.02em;
      }