.header {
  border-bottom: 1px solid #ECECEC;
    
}
.header__container{
  position: relative;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 796px;
  padding: 48px 40px;
  background-color: $background-color-first;
  z-index: 999;
  display: none;
}
.menu-container.is-open {
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: $color-brand;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.header__container .menu-toggle{
position: absolute;
top:10px;
right: 10px;
}


@media (min-width: 768px) {
  .menu-toggle {
    display: none;
}
    
.mobile-menu{
    display: none;
}

.header-nav{
  display: flex;
  vertical-align: middle;
  align-self: center;
}

  .header__container{
    display: flex;
    vertical-align: middle;
    align-self: center;
    justify-content: space-between;
  }
  .menu{
    display: flex;
   
  }
  } 

  @media(max-width:768px){
    .menu{
      display: none;
    }}
    @media (min-width: 1200px){
  .header__container {
      display: flex;
      vertical-align: middle;
      align-self: center;
      justify-content: space-between;
  }


    }