
.clients {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 15px;
}




.clients__card {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin-bottom: 30px;
}






.clients__logo{
    width:106px;
    height:60px;
    fill: currentColor;
    
}


.clients__link{
    display: block;

    padding: 16px 52px;
    @include bordered (1px, rgba(175, 177, 184, 1));
    border-radius: 4px;
    color: $color-links;
    transition-property: border, color;
    @extend %transition;

    &:hover,
    &:focus{
    color: $color-brand;
    border-color: $color-brand;

}}





/*
/
.clients {
    @extend %display-padding-margin;
    margin-left: calc(-1 * $card-set-gap);
    margin-top: calc(-1 * $card-set-gap);



.clients__link{
    display: block;

    padding: 16px 32px;
    @include bordered (1px, rgba(175, 177, 184, 1));
    border-radius: 4px;
    color: $color-links;
    transition-property: border, color;
    @extend %transition;

    &:hover,
    &:focus{
    color: $color-brand;
    border-color: $color-brand;

}
}
    


.clients__card {
width: calc( 100% / 6 - $card-set-gap);
margin-left: $card-set-gap;
margin-top: $card-set-gap;
}}
*/