.section-hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: $background-color-hero;
    text-align: center;
    max-width: 480px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero-img-768.jpg);
    margin-right: auto; 
    margin-left: auto;
    background-size: cover;
    
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section-hero  {
    background-image:  linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero-img-@2x.jpg);
  }
}

@media (min-width:768px){
    .section-hero  {
        max-width: 768px;
        background-image:  linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../images/hero-img-768.jpg);
    
      }

      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section-hero  {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero-img-768-@2x.jpg);
  }
}
}


@media (min-width:1200px){
    .section-hero  {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),url(../images/hero-img-1600.jpg);
    
      }

      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section-hero  {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero-img-1600-@2x.jpg);
  }
}
}
