/*кнопкa*/


%flex-align-items {
        display: flex;
        align-items: center;
}

%icon-network{
    display: block;
    border-radius: 50%;
    padding: 12px;
    text-align: center;
    border: none;
}
