    $color-links: #AFB1B8;
    $background-color-hero: #2F303A;
    $background-color-first: #FFFFFF;
    $background-color-second: #F5F5F5;
    $background-color-third: #F5F4FA;
    $color-borders: #ECECEC;
    $color-brand: #2196F3;
    $color-logo-second: #000000;
    $color-primary: #212121;
    $color-secondary: #757575;
    $border-color-portofolio:#EEEEEE;
    $color-accent: #188CE8;

    
    $card-set-gap: 30px;
    
   